In [1]:
import pandas as pd
import nltk
import spacy

In [2]:
email_data = pd.read_csv("main_data_nodup.csv", usecols=['label_num', 'good_text'])
email_data

      label_num                                          good_text
0             1  increase sperm volume 500 spur site offer natu...
1             0  flow volumes oxy gladewater meter 98926 mary a...
2             1  photoshop windows office cheap main trending a...
3             0  june_00 production connor_hewitt_ltd forwarded...
4             0  1497 daren_ates shows team one specialist 1497...
...         ...                                                ...
5078          1  find hey glide feel get harrd slide trust love...
5079          1  impress hard erection midband good morning sir...
5080          1  enjoy generic viagra cheap prices places charg...
5081          1  feel safe american election results democratic...
5082          1  last_36_hours 3_x ci ialis softabs better pfiz...

[5083 rows x 2 columns]

In [3]:
test_data = pd.read_csv("test_data.csv")
test_data

                                                  text  label_num
0    Subject: the smart way to control spam\r\ni ha...          1
1    Subject: 18 yearold cocksuckers !\r\ndownload ...          1
2    Subject: june & july swing volumes for guadalu...          0
3    Subject: fw : kind of neat ! alumni\r\n- - - -...          0
4    Subject: cleburne / tenaska iv outage\r\n- - -...          0
..                                                 ...        ...
994  Subject: maryland standard - expose on romance...          1
995  Subject: need legal help ?\r\nto unsubscribe f...          1
996  Subject: 6 / 15 / 00 revision to sea robin vol...          0
997  Subject: announcing a new enron brown bag semi...          0
998  Subject: kingwood cove - free green fees !\r\n...          0

[999 rows x 2 columns]

In [4]:
from functions import *

In [5]:
dupli_action = ActionOnDuplicates(test_data)
duplicated_data = dupli_action.check_duplicates(['text'])
duplicated_data

Empty DataFrame
Columns: [text, label_num]
Index: []

In [6]:
test_data.text[0]

"Subject: the smart way to control spam\r\ni have a special _ offer for you . . .\r\nbetter than all other spam filters -\r\nonly delivers the email you want !\r\nthis is the ultimate solution that is guaranteed to stop all spam\r\nwithout\r\nlosing any of your important email ! this system protects you 100 % .\r\nwe didn ' t believe it either until we actually tried it . so you be the judge\r\nand see for yourself .\r\nyou owe it to yourself to try this program , and forward this email\r\nto all of your friends\r\nwho hate spam or as many people as possible .\r\nget rid of unwanted emails now .\r\nto be dropped from our list enter your email address here .\r\np . revia marketing , inc .\r\n848 n . rainbow blvd . # 316\r\nlas vegas , nv 89107\r\nconforms to legal requirements of 2003 us can - spam act .\r\nmorass author conference author dee actuate\r\n"

In [7]:
primary_text_preprocess = PrimaryTextPreprocess()
test_data['text'] = test_data['text'].apply(primary_text_preprocess.primary_cleaning)

In [16]:
test_data.text[2]

'june july swing volumes for guadalupe power partners hi daren i appreciate your prompt attention to this matter here are the swing volumes as you requested don t pay attention to anything other than the highlighted columns in july s spreadsheet b c it s not finished if you need anything else please let me know thanks valerie vela enron net works llc gas settlements t 713 345 8749 f 713 646 8420'

In [9]:
import spacy
nlp = spacy.load('en_core_web_lg')

In [19]:
from spacy import displacy
spacy_process = SpacyPreprocess(model=nlp)
doc = nlp(test_data.text[2])
displacy.render(doc, style='ent', jupyter=True)